<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name=".NewTest"/>
      <class name="Corolla.corolla2015Test"/>
      <class name=".NewTestTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
